 body {
  font-family: 'Roboto', sans-serif;
  background-color: #FF8A65;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  letter-spacing: 0.03em;
  overflow-y: hidden;
}
a {
  color: #7447ae;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
section {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
.purple {
  color: #7447ae;
}
.pink {
  color: #ff2a75;
}
.blue {
  color: #37a7ff;
}

/* Hero Section */
header.hero {
  background: url(../assets/hero-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-bottom: 30px;
}

header.hero .hero-text {
  margin-top: 37.5%;
  margin-bottom: 30%;
}
header.hero .row {
  position: relative;
}
header.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1.5em;
}
header.hero h1 span,
header.hero h3 {
  font-weight: 300;
}

/* Footer */
.footer {
  background-color: #FF8A65;
  margin-top: 20px;
  padding: 0.25em;
}
.footer h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #212121;
  margin-bottom: 0.25em;
}
.footer h1 span {
  color: #e0e0e0;
  font-weight: 300;
}
.footer h1:after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #BF360C;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-40px, 10px);
}

/* Let's optimise it for mobile devices */

@media (max-width: 720px){
  .btn-lg {
    padding: .8em 3em;
    font-size: .8em;
  }
  h1.heading {
    font-size: 2em;
  }
  header.hero {
    text-align: center;
    padding-bottom: 0;
  }
  header.hero h1 {
    font-size: 2em;
    margin-top: 1.5em;
  }
  header.hero h3 {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .footer {
    padding: 1em 0em;
  }
}
