@import url('reset.css');

:root {
  --md-ref-typeface-plain: 'Outfit';
  --md-sys-color-primary: #b02f00;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ff7147;
  --md-sys-color-on-primary-container: #240400;
  --md-sys-color-secondary: #9f4125;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ff9779;
  --md-sys-color-on-secondary-container: #4f1000;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-on-surface: #271813;
  --md-sys-color-surface-container: #ffe9e4;
  --md-sys-color-shadow: #000000;
}

@media (prefers-color-scheme: dark) {
  :root:where(.is-dark),
  :root:where(:not(.is-light)) {
    --md-sys-color-primary: #ffb5a0;
    --md-sys-color-on-primary: #5f1500;
    --md-sys-color-primary-container: #d73b00;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-secondary: #ffb5a0;
    --md-sys-color-on-secondary: #5f1500;
    --md-sys-color-secondary-container: #732107;
    --md-sys-color-on-secondary-container: #ffc4b4;
    --md-sys-color-surface: #1e100c;
    --md-sys-color-on-surface: #fadcd4;
    --md-sys-color-surface-container: #2c1c17;
    --md-sys-color-shadow: #000000;
  }
}

* {
  transition: 450ms cubic-bezier(0.2, 0, 0, 1);
  transition-property: margin, height, border-radius, max-width, width;
}

html {
  background-color: var(--md-sys-color-surface-container);
  scrollbar-color: var(--md-sys-color-primary) transparent;
  scrollbar-width: thin;
}

body {
  height: 100vh;
  height: 100svh;
}

/* Styles for phones */
@media only screen and (max-width: 480px) {
  .box {
    padding: 4vmax;
  }

  #header {
    font-size: 4vmax;
  }

  #subheaderContainer {
    font-size: 1.5vmax;
  }

  #copyright {
    font-size: 1.75vmax;
  }
}

/* Styles for landscape-oriented phones */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .box {
    padding: 5vmax;
  }

  #header {
    font-size: 6vmax;
  }

  #subheaderContainer {
    font-size: 1.5vmax;
  }

  #copyright {
    font-size: 2.125vmax;
  }
}

/* Styles for portrait-oriented tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .box {
    padding: 5vmax;
  }

  #header {
    font-size: 6.5vmax;
  }

  #subheaderContainer {
    font-size: 1.6vmax;
  }

  #copyright {
    font-size: 1.875vmax;
  }
}

/* Styles for regular desktops and laptops */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .box {
    padding: 5vmax;
  }

  #header {
    font-size: 7vmax;
  }

  #subheaderContainer {
    font-size: 1.7vmax;
  }

  #copyright {
    font-size: 1.5vmax;
  }
}

/* Styles for large desktops and high-resolution screens */
@media only screen and (min-width: 1280px) {
  .box {
    padding: 5vmax;
  }

  #header {
    font-size: 7vmax;
  }

  #subheaderContainer {
    font-size: 1.7vmax;
  }

  #copyright {
    font-size: 1.125vmax;
  }
}

.text {
  color: var(--md-sys-color-primary);
  font-family: 'Outfit', sans-serif;
}

.hidetext {
  opacity: 0;
}

#centered {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: var(--md-sys-color-surface);
  border-radius: 2vmax;
}

#header {
  font-weight: 700;
  padding-bottom: 1.5vmax;
}

#header::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: calc((1 - 1.25) * 0.5em);
}

#subheaderContainer {
  margin: auto;
  text-align: justify;
  text-align-last: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#copyright {
  font-weight: 200;
  position: fixed;
  width: max-content;
  bottom: 1vmax;
  left: 50%;
  transform: translate(-50%, 0);
}
